<div id="loginbox" style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-success" >
        <div class="panel-heading">
            <div class="panel-title">Sign In</div>
        </div>
        <div style="padding-top:30px" class="panel-body" >
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <formly-form model="user" fields="loginFields">
                <button type="submit" class="btn btn-success" ng-click="login(user)">Login</button>
            </formly-form>
        </div>
    </div>
</div>